$primary-color: #0089FF;
$white-color: #E3E7FE;
$dark-color: #1D1D2B;
$light-back-color: #242636;
$light-secondary-color: #7e83c0;
$error-color: #F44336;
$green-color: #2ee399;
$yellow-color: #fff565;
