:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height:calc(100% - 64px);
  }
  
  .details-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  
    textarea {
      max-height: 150px;
    }
  }
  