<div class="details-content" *ngIf="!isEditMode; else formTemplate">
  <h1>{{product?.label}}</h1>
  <p>{{product?.price}}</p>
  <p>{{product?.quantity}}</p>
</div>

<ng-template #formTemplate>
  <form [formGroup]="productFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>{{"Label" | translate}}</mat-label>
      <input matInput formControlName="label" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{"Price" | translate}}</mat-label>
      <input matInput formControlName="price"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{"Quantity" | translate}}</mat-label>
      <input matInput formControlName="quantity" />
    </mat-form-field>
  </form>
</ng-template>

<div class="actions">
  <button mat-raised-button color="accent"
          *ngIf="isEditMode; else editBtnTemplate"
          (click)="saveChanges()">{{"Save" | translate}}</button>

  <ng-template #editBtnTemplate>
    <button mat-raised-button color="accent"
            (click)="isEditMode = true">{{"Edit" | translate}}</button>
  </ng-template>
</div>




