<div class="details-content" *ngIf="!isEditMode; else formTemplate">
  <h1>{{product?.label}}</h1>

  <p>{{product?.price}}</p>
  <p>{{product?.quantity}}</p>

</div>

<ng-template #formTemplate>
  <form [formGroup]="taskFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Label</mat-label>
      <input matInput formControlName="label" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>quantity</mat-label>
      <input matInput formControlName="quantity" />
    </mat-form-field>
  </form>
</ng-template>

<div class="actions">
  <button mat-raised-button color="accent"
          *ngIf="isEditMode; else editBtnTemplate"
          (click)="saveChanges()">Save</button>

  <ng-template #editBtnTemplate>
    <button mat-raised-button color="accent"
            (click)="isEditMode = true">Edit</button>
  </ng-template>
</div>




