<ng-container *ngIf="product">
  <div class="product-info">
    <span class="name">{{product.label | uppercase}}</span>
    <div class="price">
      <span>Price: </span>
      {{product.price}} 
      <span>$</span>
    </div>
    <div class="quantity">
      <span>Quantity: </span>
      {{product.quantity}} 
    </div>
    <!-- <p class="quantity"> {{product.quantity}}</p> -->
  </div>
  

  <button  mat-flat-button color="primary"
          (click)="sellProduct(product)"
          >
    sell product
  </button>


  <mat-button-toggle-group class="actions">
    <mat-button-toggle (click)="editProduct.emit()"><mat-icon>edit</mat-icon></mat-button-toggle>
    <mat-button-toggle (click)="removeProduct.emit()"><mat-icon>delete</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>
</ng-container>