<section class="main-content">
  <div class="actions">
    <button mat-raised-button color="primary" (click)="addProduct()">
      <mat-icon>add</mat-icon> {{"Add Product" | translate}}
    </button>
  </div>

  <div class="tasks-wrapper">
    <div class="header">
      <app-search
        (outPutKeyword)="onSearchTask($event)"
      ></app-search>
    </div>
    <div  class="product">
      <app-product *ngFor="let product of products; trackBy: productTrackBy"
        (editProduct)="editProduct(product)"
        (removeProduct)="removeProduct(product.id)"
        (changeQuantity)="changeQuantity()"
        [product]="product">
      </app-product>
    </div>
    <div class="pagination">
      <mat-paginator
      [length]="ProductsTotalAmount"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChanged($event)">
      </mat-paginator>
    </div>   
  </div>
</section>

<section *ngIf="selectedProduct" class="sidebar">
  <button mat-button (click)="selectedProduct = null">
    <mat-icon>close</mat-icon>
  </button>
  <app-product-details [product]="selectedProduct"
                    [isEditMode]="true"
                    (updateProduct)="updateProduct()">
  </app-product-details>
</section>