<section class="sidebar">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="logo" />
  </div>
  <div class="navigation">
<div class="item">
    <a
      class="link"
      routerLink="/products"
    >
      <img
        src="/assets/images/Header _ Next payout.svg"
        class="icon"
        alt="products"
      />
    </a>
    <span class="tooltip">Products</span>
  </div>
  <div class="item">
    <a
      class="link"
      routerLink="/managers"
    >
      <img
        src="/assets/images/Header _ Next payout.svg"
        class="icon"
        alt="products"
      />
    </a>
    <span class="tooltip">Managers</span>
  </div>
  </div>
</section>
