<div mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{"Quantity" | translate}}</mat-label>
        <input matInput formControlName="quantity" />
      </mat-form-field>
      <div *ngIf="error.quantity">
        {{error.quantity}}
      </div>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()" >{{"Close" | translate}}</button>
  <button mat-raised-button color="primary" (click)="save()">{{"Save" | translate}}</button>
</div>